<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Detail</title>
    <link rel="stylesheet" href="/style.css/style.css" />
  </head>
  <body>
    <main class="detail-book">
      <h1 class="detail-title">{{title}}</h1>
      <img src="{{cover}}" alt="{{title}}" width="200" class="detail-cover" />
      <p class="detail-author">Author: {{author}}</p>
      <p class="detail-genre">Genre: {{genre_name}}</p>
      <p class="detail-description">Description: {{description}}</p>
      <a href="/books" class="back-to-list">Back to list</a>
    </main>
  </body>
</html>