<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Edit Book</title>
  </head>
  <body>
    <h1 class="edit-title">Edit Book</h1>

    <form
      action="/edit-book/{{book.id}}"
      method="post"
      enctype="multipart/form-data"
      class="edit-form"
    >
      <label>Title:
        <input
          type="text"
          name="title"
          value="{{book.title}}"
          required
        /></label><br />
      <label>Author:
        <input
          type="text"
          name="author"
          value="{{book.author}}"
          required
        /></label><br />

      <label>Genre:
        <select name="genre_id" required>
          {{#each genres}}
            <option value="{{id}}" {{selected}}>{{name}}</option>
          {{/each}}
        </select>
      </label><br />

      <label>Description:<br />
        <textarea
          name="description"
          rows="5"
          required
        >{{book.description}}</textarea>
      </label><br />

      <label>Cover: <input type="file" name="cover" /></label>
      <input type="hidden" name="oldCover" value="{{book.cover}}" />
      <br />

      <button type="submit" class="update-book">Update Book</button>
      <a href="/books/{{book.id}}" class="cancel-button">Cancel</a>
    </form>
  </body>
</html>